<a href="https://github.com/rishirajsinghjhelumi">
	<img src="/public/img/github.png" class="follow">
</a>
<a href="https://www.facebook.com/RockerRishiRaj">
	<img src="/public/img/facebook.png" class="follow">
</a>
<a href="https://plus.google.com/+RishiRajSinghJhelumi">
	<img src="/public/img/google_plus.png" class="follow">
</a>
<a href="https://twitter.com/Rocker_Raj29">
	<img src="/public/img/twitter.png" class="follow">
</a>
<a href="http://in.linkedin.com/in/rishirajsinghjhelumi">
	<img src="/public/img/linkedin.png" class="follow">
</a>
<a href="mailto:rishiraj.devel@gmail.com">
	<img src="/public/img/gmail.png" class="follow">
</a>