<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-53641f1f19852796"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 5
    },
    'follow' : {
      'services' : [
        {'service': 'facebook', 'id': 'RockerRishiRaj'},
        {'service': 'twitter', 'id': 'Rocker_Raj29'},
        {'service': 'linkedin', 'id': 'rishirajsinghjhelumi'},
        {'service': 'google_follow', 'id': '+RishiRajSinghJhelumi'}
      ]
    }
  });
</script>
<!-- AddThis Smart Layers END -->